.backgraund-div{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 25px solid red;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
    text-align: center;
}
.center-div{
    background-color: blue;
    text-align: center;
    width: 250px;
    height: auto;
    padding: 5px;
    color: white;
    position: relative;
    right: 105px;
    font-size: 16px;
    text-transform: uppercase;
}